<style>
  img {
    border-radius: 10%;
  }
</style>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Kategori</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/admin/dashboard']">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Kategori</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <button
          style="margin-right: 8px; margin-bottom: 12px"
          type="button"
          class="btn btn-primary rounded-pill"
          (click)="openModal(template)"
        >
          <i class="bi bi-plus-lg"></i>
          Tambah Kategori
        </button>

        <ng-template #template>
          <div class="modal-header">
            <h5 class="modal-title">Tambah Kategori</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="modalRef?.hide()"
            ></button>
          </div>
          <div class="modal-body">
            <form
              [formGroup]="formAdd"
              (ngSubmit)="doAddKategori()"
              class="row g-3"
            >
              <div class="col-md-12">
                <label for="inputNamaKategori" class="form-label"
                  >Nama Kategori</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="inputNamaKategori"
                  placeholder="Masukkan nama kategori"
                  formControlName="namaKategori"
                  name="namaKategori"
                  [ngClass]="
                    errorControl['namaKategori'].valid
                      ? 'is-valid'
                      : errorControl['namaKategori'].dirty ||
                        errorControl['namaKategori'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['namaKategori'].dirty ||
                      errorControl['namaKategori'].touched) &&
                    errorControl['namaKategori'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['namaKategori'].errors['required']"
                  >
                    Please enter the category name.
                  </div>
                </ng-container>
              </div>
              <div class="col-12">
                <label for="inputGambarKategori" class="form-label"
                  >Gambar</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="inputGambarKategori"
                  accept="image/png, image/jpeg, image/gif"
                  (change)="showPreview($event)"
                  placeholder="Masukkan link gambar kategori"
                  formControlName="gambarKategori"
                  name="gambarKategori"
                  [ngClass]="
                    errorControl['gambarKategori'].valid
                      ? 'is-valid'
                      : errorControl['gambarKategori'].dirty ||
                        errorControl['gambarKategori'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <br />
                <ng-container
                  *ngIf="
                    (errorControl['gambarKategori'].dirty ||
                      errorControl['gambarKategori'].touched) &&
                    errorControl['gambarKategori'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['gambarKategori'].errors['required']"
                  >
                    Please enter the category picture.
                  </div>
                </ng-container>
                <ng-container *ngIf="image">
                  <img
                    src="{{ image }}"
                    alt="Gambar Kategori"
                    width="200"
                    height="200"
                  />
                </ng-container>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="modalRef?.hide()"
                >
                  Kembali
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!formAdd.valid"
                  (click)="modalRef?.hide()"
                >
                  Simpan
                </button>
              </div>
            </form>
          </div>
        </ng-template>

        <!-- TABEL KATEGORI -->
        <div class="card recent-sales overflow-auto">
          <div class="card-body">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>
                <li><a class="dropdown-item" href="#">By Name Ascending</a></li>
                <li>
                  <a class="dropdown-item" href="#">By Name Descending</a>
                </li>
              </ul>
            </div>
            <h5 class="card-title">Kategori <span>| All Categories</span></h5>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nama Kategori</th>
                  <th scope="col">Gambar</th>
                  <th scope="col">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let isiKategori of kategori; let i = index">
                  <th scope="row">
                    {{ i + 1 }}
                  </th>
                  <td>{{ isiKategori.namaKategori }}</td>
                  <td>
                    <a href="#"
                      ><img
                        src="{{ isiKategori.gambarKategori }}"
                        alt="Gambar Kategori"
                        width="70"
                        height="70"
                    /></a>
                  </td>
                  <td>
                    <button
                      style="margin-right: 8px"
                      type="button"
                      class="btn btn-outline-primary rounded-pill"
                      data-bs-toggle="modal"
                      (click)="openModal(template)"
                      (click)="doEditModal(isiKategori)"
                    >
                      Edit
                    </button>

                    <!-- MODAL EDIT -->
                    <ng-template #template>
                      <div class="modal-header">
                        <h5 class="modal-title">Edit Kategori</h5>
                        <button
                          type="button"
                          class="btn-close"
                          (click)="modalRef?.hide()"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form
                          [formGroup]="formEdit"
                          (ngSubmit)="doEditKategori()"
                          class="row g-3"
                        >
                          <div class="col-md-12">
                            <label for="inputNamaKategori" class="form-label"
                              >Nama Kategori</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="inputNamaKategori"
                              placeholder="Masukkan nama kategori"
                              formControlName="namaKategori"
                            />
                          </div>
                          <div class="col-12">
                            <label for="inputGambarKategori" class="form-label"
                              >Gambar</label
                            >
                            <input
                              type="file"
                              accept="image/png, image/jpeg, image/gif"
                              class="form-control"
                              id="inputGambarKategori"
                              accept="image/png, image/jpeg, image/gif"
                              (change)="showPreview($event)"
                              placeholder="Masukkan link gambar kategori"
                              formControlName="gambarKategori"
                              name="gambarKategori"
                            />
                            <br />
                            <ng-container *ngIf="image">
                              <img
                                [src]="image"
                                alt="Gambar Kategori"
                                width="200"
                                height="200"
                              />
                            </ng-container>
                          </div>

                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              (click)="modalRef?.hide()"
                            >
                              Kembali
                            </button>
                            <button
                              type="submit"
                              class="btn btn-primary"
                              (click)="modalRef?.hide()"
                            >
                              Simpan Perubahan
                            </button>
                          </div>
                        </form>
                      </div>
                    </ng-template>
                    <button
                      type="submit"
                      class="btn btn-outline-danger rounded-pill"
                      data-bs-toggle="modal"
                      (click)="openModal(deleteModal)"
                      (click)="doDeleteModal(isiKategori)"
                    >
                      Hapus
                    </button>
                    <ng-template #deleteModal (ngSubmit)="doDeleteKategori()">
                      <div class="modal-header">
                        <h5 class="modal-title">Hapus Kategori</h5>
                        <button
                          type="button"
                          class="btn-close"
                          aria-label="Close"
                          (click)="modalRef?.hide()"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <h6>Apakah Anda yakin ingin menghapus kategori ini?</h6>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          (click)="modalRef?.hide()"
                        >
                          Kembali
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="modalRef?.hide()"
                          (click)="doDeleteKategori()"
                        >
                          Ya, Saya Yakin
                        </button>
                      </div>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
