<style>
  img {
    border-radius: 10%;
  }
</style>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Users</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/admin/dashboard']">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Users</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <button
          style="margin-right: 8px; margin-bottom: 12px"
          type="button"
          class="btn btn-primary rounded-pill"
          (click)="openModal(template)"
        >
          <i class="bi bi-plus-lg"></i>
          Tambah Admin
        </button>
        <!-- <c-alert
          [(visible)]="visible"
          [dismissible]="dismissible"
          color="warning"
          fade
          *ngIf="visible"
        >
          <strong>Go right ahead</strong> and click that dismiss over there on
          the right.
        </c-alert> -->
        <div id="liveAlertPlaceholder"></div>

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Tambah User</h4>
            <button
              type="button"
              class="btn-close close pull-right"
              aria-label="Close"
              (click)="modalRef?.hide()"
            >
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              [formGroup]="formAdd"
              (ngSubmit)="doAddUser()"
              class="row g-3"
            >
              <div class="col-md-12">
                <label for="inputNama" class="form-label">Nama</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputNama"
                  formControlName="nama"
                  name="nama"
                  [ngClass]="
                    errorControl['nama'].valid
                      ? 'is-valid'
                      : errorControl['nama'].dirty ||
                        errorControl['nama'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['nama'].dirty ||
                      errorControl['nama'].touched) &&
                    errorControl['nama'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['nama'].errors['required']"
                  >
                    Please enter your name.
                  </div>
                </ng-container>
              </div>
              <div class="col-md-12">
                <label for="inputNoHP" class="form-label">No HP</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputNoHP"
                  formControlName="username"
                  name="username"
                  [ngClass]="
                    errorControl['username'].valid
                      ? 'is-valid'
                      : errorControl['username'].dirty ||
                        errorControl['username'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['username'].dirty ||
                      errorControl['username'].touched) &&
                    errorControl['username'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['username'].errors['required']"
                  >
                    Please enter your phone number.
                  </div>
                </ng-container>
              </div>
              <div class="col-md-6">
                <label for="inputEmail" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail"
                  formControlName="email"
                  name="email"
                  [ngClass]="
                    errorControl['email'].valid
                      ? 'is-valid'
                      : errorControl['email'].dirty ||
                        errorControl['email'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['email'].dirty ||
                      errorControl['email'].touched) &&
                    errorControl['email'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['email'].errors['required']"
                  >
                    Please enter your email.
                  </div>
                </ng-container>
              </div>
              <div class="col-md-6">
                <label for="inputPassword" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword"
                  formControlName="password"
                  name="password"
                  [ngClass]="
                    errorControl['password'].valid
                      ? 'is-valid'
                      : errorControl['password'].dirty ||
                        errorControl['password'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['password'].dirty ||
                      errorControl['password'].touched) &&
                    errorControl['password'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['password'].errors['required']"
                  >
                    Please enter your password.
                  </div>
                </ng-container>
              </div>
              <div class="col-12">
                <label for="inputTanggalLahir" class="form-label"
                  >Tanggal Lahir</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="inputTanggalLahir"
                  placeholder="yyyy-mm-dd"
                  formControlName="tanggalLahir"
                  name="tanggalLahir"
                  [ngClass]="
                    errorControl['tanggalLahir'].valid
                      ? 'is-valid'
                      : errorControl['tanggalLahir'].dirty ||
                        errorControl['tanggalLahir'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['tanggalLahir'].dirty ||
                      errorControl['tanggalLahir'].touched) &&
                    errorControl['tanggalLahir'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['tanggalLahir'].errors['required']"
                  >
                    Please enter your birthdate.
                  </div>
                </ng-container>
              </div>

              <div class="col-12">
                <label for="inputRole" class="form-label">Role</label>
                <!-- <select for="inputRole" class="form-select">
                  <option disabled>Select Role</option>
                  <option>admin</option>
                  <option>user</option>
                </select> -->
                <input
                  type="text"
                  class="form-control"
                  id="inputRole"
                  formControlName="role"
                  name="role"
                  value="admin"
                  readonly
                />
                <ng-container
                  *ngIf="
                    (errorControl['role'].dirty ||
                      errorControl['role'].touched) &&
                    errorControl['role'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['role'].errors['required']"
                  >
                    Please enter your role.
                  </div>
                </ng-container>
              </div>
              <div class="col-md-12">
                <label for="inputFile" class="form-label">Foto</label>
                <input
                  type="file"
                  accept="image/png, image/jpeg, image/gif"
                  class="form-control"
                  id="inputFile"
                  (change)="showPreview($event)"
                  formControlName="photo"
                  name="photo"
                  [ngClass]="
                    errorControl['photo'].valid
                      ? 'is-valid'
                      : errorControl['photo'].dirty ||
                        errorControl['photo'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <br />
                <ng-container
                  *ngIf="
                    (errorControl['photo'].dirty ||
                      errorControl['photo'].touched) &&
                    errorControl['photo'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['photo'].errors['required']"
                  >
                    Please enter your photo.
                  </div>
                </ng-container>
                <ng-container *ngIf="image">
                  <img
                    src="{{ image }}"
                    alt="Gambar Profil"
                    width="200"
                    height="200"
                  />
                </ng-container>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  (click)="modalRef?.hide()"
                >
                  Kembali
                </button>
                <button
                  type="submit"
                  id="liveAlertBtn"
                  class="btn btn-primary"
                  [disabled]="!formAdd.valid"
                  data-bs-dismiss="modal"
                  (click)="modalRef?.hide()"
                >
                  Simpan
                </button>
              </div>
            </form>
          </div>
        </ng-template>
        <div class="card recent-sales overflow-auto">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              <li><a class="dropdown-item" href="#">Admin Only</a></li>
              <li><a class="dropdown-item" href="#">User Only</a></li>
              <li><a class="dropdown-item" href="#">All Roles</a></li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Users <span>| All Time</span></h5>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nama</th>
                  <th scope="col">Email</th>
                  <th scope="col">No HP</th>
                  <!-- <th scope="col">Tanggal Lahir</th> -->
                  <th scope="col">Role</th>
                  <!-- <th scope="col">Foto Profil</th> -->
                  <th scope="col">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let user of users; let i = index">
                  <tr>
                    <th scope="row">
                      {{ i + 1 }}
                    </th>
                    <td>{{ user.nama }}</td>
                    <td class="text-primary">
                      <a href="#" class="text-primary">{{ user.email }}</a>
                    </td>
                    <td>{{ user.noHP }}</td>
                    <!-- <td>{{ user.tanggalLahir }}</td> -->
                    <td>{{ user.role }}</td>
                    <!-- <td>
                      <a href="#"
                        ><img
                          src="{{ user.photo }}"
                          alt="Gambar Profil"
                          width="70"
                          height="70"
                      /></a>
                    </td> -->
                    <td>
                      <button
                        type="button"
                        class="btn btn-outline-primary rounded-pill"
                        (click)="openModal(template)"
                        (click)="doCheckDetail(user)"
                      >
                        Check Detail
                      </button>

                      <ng-template #template>
                        <div class="modal-header">
                          <h4 class="modal-title pull-left">
                            Lihat Detail User
                          </h4>
                          <button
                            type="button"
                            class="btn-close close pull-right"
                            aria-label="Close"
                            (click)="modalRef?.hide()"
                          >
                            <span aria-hidden="true" class="visually-hidden"
                              >&times;</span
                            >
                          </button>
                        </div>
                        <div class="modal-body">
                          <form class="row g-3">
                            <div class="col-md-12">
                              <label for="inputNama" class="form-label"
                                >Nama</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="inputNama"
                                name="nama"
                                [value]="userDetail.nama"
                                readonly
                              />
                            </div>
                            <div class="col-md-12">
                              <label for="inputNoHP" class="form-label"
                                >No HP</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="inputNoHP"
                                name="username"
                                [value]="userDetail.noHP"
                                readonly
                              />
                            </div>
                            <div class="col-md-12">
                              <label for="inputEmail" class="form-label"
                                >Email</label
                              >
                              <input
                                type="email"
                                class="form-control"
                                id="inputEmail"
                                name="email"
                                [value]="userDetail.email"
                                readonly
                              />
                            </div>

                            <div class="col-md-12">
                              <label for="inputTanggalLahir" class="form-label"
                                >Tanggal Lahir</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="inputTanggalLahir"
                                placeholder="yyyy-mm-dd"
                                name="tanggalLahir"
                                [value]="userDetail.tanggalLahir"
                                readonly
                              />
                            </div>

                            <div class="col-md-12">
                              <label for="inputRole" class="form-label"
                                >Role</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="inputRole"
                                name="role"
                                [value]="userDetail.role"
                                readonly
                              />
                            </div>
                            <div class="col-md-12">
                              <label for="inputFile" class="form-label"
                                >Foto Profil</label
                              >
                              <br />
                              <img
                                [src]="userDetail.photo"
                                alt="Gambar Profil"
                                width="200"
                                height="200"
                              />
                            </div>

                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                (click)="modalRef?.hide()"
                              >
                                Tutup
                              </button>
                            </div>
                          </form>
                        </div>
                      </ng-template>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
