<!-- <div class="alert alert-primary" role="alert">
  <h1>Hello World!</h1>
</div>

<h3>nama saya : {{ name }}</h3>
<h3>umur saya : {{ age }}</h3>
<h3>status saya : {{ status }}</h3> -->

<router-outlet> </router-outlet>
<!-- bisa ubah nilai-nilainya disini disini -->
<!-- <app-card
  title="Kartu Nama"
  name="roki"
  [age]="20"
  [status]="true"
  (dataCallBack)="onCallBack($event)"
></app-card>
<app-card
  [title]="person.title"
  [name]="person.name"
  [age]="person.age"
  [status]="person.status"
  (dataCallBack)="onCallBack($event)"
></app-card>
<app-card
  [title]="person.title"
  [name]="person.name"
  [age]="person.age"
  [status]="person.status"
  (dataCallBack)="onCallBack($event)"
></app-card> -->

<!-- memanggil callback -->
<!-- <app-card (dataCallBack)="onCallBack($event)"></app-card>
<app-card (dataCallBack)="onCallBack($event)"></app-card>
<app-card (dataCallBack)="onCallBack($event)"></app-card> -->
<!-- 
<app-card
  title="Form Add"
  name="roki"
  [age]="20"
  [status]="true"
  (dataCallBack)="onCallBack($event)"
></app-card> -->

<!-- memanggil menggunakan array object -->
<!-- <ng-container *ngFor="let data of personList">
  {{ data }}
  <app-card
    [title]="data.title"
    [name]="data.name"
    [age]="data.age"
    [status]="data.status"
    (dataCallBack)="onCallBack($event)"
  ></app-card>
  <br />
</ng-container> -->
