<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/dashboard']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-grid"></i> <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-heading">Manage</li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/kategori']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-menu-button-wide"></i><span>Kategori</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/users']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-person"></i><span>Users</span>
      </a>
    </li>

    <li class="nav-heading mt-100">Account</li>

    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/settings']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-gear"></i><span>Settings</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="doClickLogout()">
        <i class="bi bi-box-arrow-left"></i> <span>Logout</span>
      </a>
    </li>
  </ul>
</aside>
