<main id="main" class="main">
  <section>
    <div class="pagetitle">
      <h1>Setting</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/admin/dashboard']">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Setting</li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="assets/img/natih-devayanti.png"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-2">Natih Devayanti</h5>
            <p class="text-muted mb-1">Administrator AstraPay</p>
            <div class="d-flex justify-content-center mb-2">
              <button
                type="button"
                class="btn btn-primary ms-1"
                style="margin-top: 10px"
              >
                Edit Profile
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Natih</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">natihdevayanti@yahoo.com</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">087862755352</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Tanggal Lahir</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">12 Januari 2000</p>
              </div>
            </div>
            <!-- <hr /> -->
            <!-- <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
